body{
	background-image: url("../images/one.jpg");
	background-size: 100%;
	background-position: center;
	background-color: black;
	font-family: papyrus;
	font-weight: bold;
	text-align: center;
}
header{
	text-align: center;
	margin: 50px;
	color: white;
}

form {
	text-align: center;
	margin: 50px;
	font-size: 20px;
	display: block;
}

label {
	color: white;
}

#save {
	margin: 75px 50px;
	color: black;
}

h3{
	font-weight: bolder;
}